## Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

## Playwright
playwright-report/
test-results/

## Env files
.env
.env.*

## Editor directories and files
.vscode/
.idea/
*.sublime-workspace

## OS files
.DS_Store
Thumbs.db

## Coverage
coverage/

## Logs
*.log

# Keep this folder local only (do not track in git)
chapter_02_Java_Concepts/
